# Python bytecode caches
__pycache__/
*.pyc

# Local NumPy data matrices (Keep your repository lightweight)
*.npy

# OS specific hidden files
.DS_Store
Thumbs.db

# IDE workspace configurations
.vscode/
.idea/